 nav li{
            display: flex;
            display:inline;
            list-style: none;
            color:black
        }
        nav li a{
            text-decoration: none;
        }
        a:hover{
            border-color:gold;
        }
       